<div class="posts-title">
	<img src="{{columns.icon}}" alt="">
	<h5>{{columns.name}}</h5>
	<p>{{columns.description}}</p>
</div>
<div class="item">
	<ul class="posts">
		<li ng-repeat="post in datas.posts">
			<span href="javascript:;" class="tag">{{post.title}}</span>
			<div class="cont">
				<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源探索藏文化之源</h3>
				<div class="brief">
					<p>{{post.abstract}}</p>
					<div class="thumb">
						<img src="{{post.}}" alt="">
					</div>
				</div>							
			</div>
		</li>
		
	</ul>
</div>
			