<div class="settings">
	<ul>
		<li>
			<p>正文字号</p>
			<p>18号</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>启用推送<input type="checkbox"></p>
			<p>接受推送</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>自动离线<input type="checkbox"></p>
			<p>已启用WIFI网络下自动离线下载</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>检查更新</p>
			<p>检查是否有新版本</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>意见反馈</p>
			<p>给我们发送意见和建议</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>绑定分享账号</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>开源许可</p>
			<p>开放源代码软件的许可详情</p>
		</li>
	</ul>
	<ul>
		<li>
			<p>关于</p>
			<p>1.7.10</p>
		</li>
	</ul>
</div>
			